<!-- Articles -->
  <section class="section" id="{{ site.data.sitetext.articles.section | default: "articles" }}">
    <div class="container">
	
      <div class="row">
        <div class="section__header">
          <h2 class="section__title">{{ site.data.sitetext.articles.title | default: "Articles" }}</h2>

          {% if site.data.sitetext.articles.text %}
          
		  <p class="section__intro">{{ site.data.sitetext.articles.text }}</p>
		  {% endif %}
        </div>
      </div>
	  
      <div class="card-grid">
	  {% for post in site.posts limit:3 %}

        <article class="card-grid__item">
          <div class="card-grid__body">
            <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
            <h3 class="card-grid__title">{{ post.title | markdownify | strip_html | strip }}</h3>
            <div class="card-grid__text">{{ post.excerpt | markdownify }}</div>
            {{ post.category}}
          </div>
          <div class="card-grid__footer">
            <a href="{{ post.url }}" class="button button--primary" role="button">Read more</a>
          </div>
   
        </article>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End Articles -->
