<!-- More Calculators -->
<section class="section section--surface" id="{{ site.data.sitetext.more-calculators.section | default: "calculators" }}">
    <div class="container">
	
      <div class="row">
        <div class="section__header">
          <h2 class="section__title">{{ site.data.sitetext.more-calculators.title | default: "Services We Offer" }}</h2>
          {% if site.data.sitetext.more-calculators.text %}
		  <p class="section__intro">{{ site.data.sitetext.more-calculators.text }}</p>
		  {% endif %}
        </div>
      </div>
	  
      <div class="card-grid">
	  {% for service in site.data.sitetext.more-calculators.list %}
        <article class="card-grid__item">
          <div class="card-grid__body">
            <span class="fa-stack fa-4x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
            </span>
            <h3 class="card-grid__title">{{ service.title | markdownify | strip_html | strip }}</h3>
            {% if service.desc %}
            <div class="card-grid__text">{{ service.desc | markdownify }}</div>
            {% endif %}
          </div>
          {% if service.link %}
          <div class="card-grid__footer">
            <a href="{{ service.link.url }}" class="button button--primary" role="button">{{ service.link.text }}</a>
          </div>
          {% endif %}
        </article>
	  {% endfor %}
      </div>
	  
    </div>
  </section>
<!-- End More Calculators -->
