<!-- Calculators -->
<section class="section" id="{{ site.data.sitetext.calculators.section | default: 'calculators' }}">
  <div class="container">

    <div class="section__header">
      
      <h2 class="section__title">{{ site.data.sitetext.calculators.title | default: "" }}</h2>
      
      {% if site.data.sitetext.calculators.text %}
        <p class="section__intro">{{ site.data.sitetext.calculators.text }}</p>
      {% endif %}
    
    </div>

    <div class="card-grid">
      {% for service in site.data.sitetext.calculators.list %}
        <article class="card-grid__item">
          <div class="card-grid__body">
          <div class="card-grid__icon">
            <i class="{{ service.icon | default: 'fas fa-calculator' }}"></i>
          </div>
          <h3 class="card-grid__title">{{ service.title | markdownify | strip_html | strip }}</h3>

          {% if service.desc %}
            <div class="card-grid__text">{{ service.desc | markdownify }}</div>
          {% endif %}
          </div>

          {% if service.link %}
            <div class="card-grid__footer">
              <a href="{{ service.link.url }}" class="button button--outline button--large shadow">
                {{ service.link.text }}
              </a>
            </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>

  </div>
</section>
<!-- End Calculators -->
