<!-- Contact -->
  <section class="section section--surface contact-form" id="{{ site.data.sitetext.contact.section | default: "contact" }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section__title">{{ site.data.sitetext.contact.title | markdownify | default: Contact Us }}</h2>
          <p class="section__intro">{{ site.data.sitetext.contact.text | default: "" }}</p>
        
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" action="https://formspree.io/{{ site.email }}" method="POST">
            <div class="row">
              <div class="col-md-6">
                <div class="contact-form__group">
                  <label class="sr-only" for="name">Name</label>
                  <input name="name" class="contact-form__control form-control" id="name" type="text" placeholder="Name*" autocomplete="name" required>
                </div>
                <div class="contact-form__group">
                  <label class="sr-only" for="email">Email address</label>
                  <input name="_replyto" class="contact-form__control form-control" id="email" type="email" placeholder="Email*" autocomplete="email" required>
                </div>
                <div class="contact-form__group">
                  <label class="sr-only" for="phone">Phone number</label>
                  <input name="phone" class="contact-form__control form-control" id="phone" type="tel" placeholder="Phone Number*" autocomplete="tel" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="contact-form__group">
                  <label class="sr-only" for="message">Message</label>
                  <textarea name="message" class="contact-form__control contact-form__message form-control" id="message" placeholder="Message*" required></textarea>
                </div>
              </div>
			  <input type="hidden" name="_subject" id="email-subject" value="Contact Form Submission">
              <div class="clearfix"></div>
              <div class="contact-form__actions col-lg-12">
                <div id="success"></div>
                <button id="sendMessageButton" class="button button--primary button--large" type="submit">Send Message</button>
              </div>
			  <input type="text" name="_gotcha" class="d-none" tabindex="-1" autocomplete="off" aria-hidden="true">
			  <input type="hidden" name="_next" value="#"/>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
<!-- End Contact -->
