<section class="expert page-section" id="expert">
    <div class="container">
      <div class="section-heading">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.expert.title | default: "Text Text-Block" }}</h2>
        <p class="section-heading">{{ site.data.sitetext.expert.text }}</p>
      </div>
      <div class="expert__actions">
        <a 
          class="expert__button expert__button--primary" 
          href="https://prequalify.evocopestone.co.za/?var1=CPF&var2=ANBR07&var3=Website" 
          target="_blank"
        >
          {{ site.data.sitetext.expert["button 1 text"] | default: "Do it Yourself" }}
        </a>
        <a 
          class="expert__button expert__button--secondary" 
          href="#team"
        >
          {{ site.data.sitetext.expert["button 2 text"] | default: "Speak to an Expert" }}
        </a>
      </div>
    </div>
  </section>
  