<!-- Navigation -->
  <nav class="site-header navbar navbar-expand-lg fixed-top" id="mainNav" aria-label="Main navigation">
    <div class="container">
      <a class="site-header__brand navbar-brand js-scroll-trigger" href="#page-top" aria-label="{{ site.title }} home">
        {%- if site.logo -%}
        <img class="site-header__logo" src="{{ site.baseurl }}{{ site.logo.path }}" alt="{{ site.title }}" width="370" height="131">
        {%- else -%}
        {{ site.title }}
        {%- endif -%}
      </a>
      <button class="site-header__toggle navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          {%- for link in site.data.navigation.nav -%}
          <li class="nav-item">
            {%- if link.url -%}
            <a class="site-header__link nav-link js-scroll-trigger" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
            {%- elsif link.section -%}
            <a class="site-header__link nav-link js-scroll-trigger" href="#{{ link.section }}">{{ link.title }}</a>
            {%- else -%}
            <a class="site-header__link nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
            {%- endif -%}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navigation -->
